<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="miles.identigate.soja"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity
            android:name=".ScanActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".ResultsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInterface.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInterface.Login"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UserInterface.Menu"
            android:label="Soja"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserInterface.RecordDriveIn"
            android:label="Soja"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".UserInterface.RecordWalkIn"
            android:label="Soja"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".UserInterface.RecordExit"
            android:label="Soja"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".UserInterface.Visitors"
            android:label="Soja"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserInterface.RecordResident"
            android:label="Soja"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".UserInterface.ServiceProvider"
            android:label="Soja"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".UserInterface.SearchResults"
            android:label="Soja"
            android:launchMode="singleTop"
            android:parentActivityName=".UserInterface.Visitors"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.UserInterface.Visitors" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Logs.AllLogs"
            android:label="Soja"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".Logs.Incidents"
            android:label="Soja"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserInterface.Incident"
            android:label="@string/title_activity_incident"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".EntryTypeActivity"
            android:label="@string/title_activity_entry_type"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>

        <service
            android:name=".Services.SyncService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".Receivers.ConnectivityChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ScanQRActivity"
            android:parentActivityName=".Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".Helpers.ZxingHelperActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".RecordResidentVehicleActivity"
            android:parentActivityName=".ScanQRActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.ScanQRActivity" />
        </activity>
        <activity
            android:name=".Printer.DeviceListActivity"
            android:theme="@android:style/Theme.Dialog"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6f92896eb86607007f04cba0a38fc5fc2004837e" />

        <service
            android:name=".Services.VisitorsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".SlipActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ExpressCheckoutActivity"></activity>
    </application>

</manifest>