<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="miles.identigate.soja"
    android:installLocation="preferExternal">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity android:name=".activities.ScanTicket"></activity>
        <activity
            android:name=".activities.InviteeResults"
            android:label="@string/title_activity_invitee_results"
            android:parentActivityName=".activities.InviteesList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.activities.InviteesList" />
        </activity>
        <activity
            android:name=".activities.InviteesList"
            android:label="@string/title_activity_invitees_list"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CheckInGuest" />
        <activity
            android:name=".activities.GuestList"
            android:label="@string/title_activity_guest_list"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".activities.RegisterGuest"
            android:label="@string/title_activity_register_guest"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Maps"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ScanActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".ResultsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInterface.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInterface.Login"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserInterface.Menu"
            android:label="Soja"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserInterface.RecordDriveIn"
            android:label="Soja"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".UserInterface.RecordWalkIn"
            android:label="Soja"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".UserInterface.RecordExit"
            android:label="Soja"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".UserInterface.Visitors"
            android:label="Soja"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserInterface.RecordResident"
            android:label="Soja"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".UserInterface.ServiceProvider"
            android:label="Soja"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".UserInterface.SearchResults"
            android:label="Soja"
            android:launchMode="singleTop"
            android:parentActivityName=".UserInterface.Visitors"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.UserInterface.Visitors" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".logs.Incidents"
            android:label="Soja"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserInterface.Incident"
            android:label="@string/title_activity_incident"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".EntryTypeActivity"
            android:label="@string/title_activity_entry_type"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>

        <service
            android:name=".services.SyncService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".Receivers.ConnectivityChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ScanQRActivity"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.Dashboard" />
        </activity>
        <activity
            android:name=".helpers.ZxingHelperActivity"
            android:parentActivityName=".ExpressCheckoutActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".RecordResidentVehicleActivity"
            android:parentActivityName=".ScanQRActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="miles.identigate.soja.ScanQRActivity" />
        </activity>
        <activity
            android:name=".Printer.DeviceListActivity"
            android:theme="@android:style/Theme.Dialog" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6f92896eb86607007f04cba0a38fc5fc2004837e" />

        <service
            android:name=".services.VisitorsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".SlipActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpressCheckoutActivity"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".AdminSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SmsCheckInActivity"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".services.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>